@import url("https://fonts.bunny.net/css?family=roboto:300,400,500,700");
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
}

h5,
h6,
p {
	line-height: 1.4;
}

a {
	color: var(--accent);
	text-decoration: none;
	font-weight: bold;
}

:root {
	@media screen and (max-width: 600px) {
		font-size: 12px;
	}
	@media screen and (max-width: 800px) {
		font-size: 13px;
	}
	@media screen and (max-width: 1200px) {
		font-size: 14px;
	}
	font-size: 16px; // 1200px - 1920px
	@media screen and (min-width: 1920px) {
		font-size: 18px;
	}
	@media screen and (min-width: 2500px) {
		font-size: 30px;
	}

	--bg-color-1: #efefef;
	--bg-color-2: #dddddd;
	--bg-color-3: #acacac;
	--bg-color-4: #888888;
	--bg-color-5: #757575;
	--bg-color-6: #666666;
	--color-1: #222;
	--color-2: #333;
	--color-3: #555;
	--color-4: #666;
	--color-5: #888;
	--color-6: #aaa;
	--accent-color: white;
	--accent: #3082b1;
	--color-error: tomato;
	&.dark {
		--bg-color-1: #0d0c1d;
		--bg-color-2: #141329;
		--bg-color-3: #1f1c3f;
		--bg-color-4: #252346;
		--bg-color-5: #2e2c53;
		--bg-color-6: #2a2849;
		--color-1: #efefef;
		--color-2: #dddddd;
		--color-3: #acacac;
		--color-4: #888888;
		--color-5: #757575;
		--color-6: #666666;
		--accent-color: white;
		--accent: #3082b1;
		--color-error: tomato;
	}
}

.formkit-form {
	.formkit-messages {
		margin-top: 0.4rem;
		margin-bottom: 1rem;
	}
}

.formkit-outer {
	width: 100%;
	text-align: left;
	margin-bottom: 0.5rem;
	margin-top: 0.2rem;
	.formkit-wrapper {
		.formkit-label {
			margin-bottom: 0.4rem;
			display: block;
			font-weight: 500;
		}
		.formkit-inner {
			input {
				padding: 0.8em 0.5em;
				background: none;
				border: 1px solid var(--bg-color-4);
				border-radius: 8px;
				width: 100%;
				box-sizing: border-box;
				color: var(--color-1);
			}
		}
		button {
			padding: 0.8em 0.2em;
			background: none;
			border-radius: 8px;
			width: 100%;
			border: none;
			display: block;
			cursor: pointer;
			&[primary] {
				background: var(--accent);
				color: var(--accent-color);
			}
		}
	}
	.formkit-messages {
		color: tomato;
		margin-top: 0.8rem;
		margin-bottom: 1rem;
		font-weight: bold;
		display: block;
	}
	.formkit-help {
		text-align: left;
		margin-top: 0.4rem;
		font-weight: 300;
		font-size: 0.8rem;
	}
}
